<div class="d-flex p-2">

    <div #ngAnimationContainer></div>


    <!-- Dragonhawks
    <audio id="dragonhawks" src="/src/app/music/Liquid Stranger x Space Jesus - Dragonhawks.mp3" type="audio/mp3"></audio> -->
</div>


<!-- <div class="d-flex p-2">
    <button (click)="toggleAudioDriver()">Start/Stop</button>
</div> -->
<!-- 
<div class="d-flex p-2">
    Babatunde
    <audio id="babatunde" src="/src/app/music/PEEKABOO x G-Rex - Babatunde.mp3" type="audio/mp3"></audio>
</div>

<div class="d-flex p-2">
    Escape
    <audio id="escape" src="/src/app/music/YOOKiE - Escape.mp3" type="audio/mp3"></audio>
</div> -->